.header-wrapper {
background-color: salmon;
display: flex;
justify-content: space-between;
align-items: center;
padding-inline: 2rem;
}

.left {
    display: block;
}

.right {
    display: flex;
    gap: 2rem;
}